extends layout

block content
  h1.text-center= title

  .container.mt-4
    .row
      .col-md-6.offset-md-3
        h3.text-center Sign Up as a User
        form(method="POST" action="/attaqwa_foundation/signup")
          .mb-3
            label(for="username") Username
            input.form-control(type="text" name="username" id="username" required placeholder="Enter your username")

          .mb-3
            label(for="phoneNumber") Phone Number
            input.form-control(type="text" name="phoneNumber" id="phoneNumber" required placeholder="Enter your phone number" 
                pattern="^(\+233|0)[1-9]{1}[0-9]{8}$" maxlength="13")

          .mb-3
            label(for="password") Password
            input.form-control(type="password" name="password" id="password" required placeholder="Enter your password")

          .mb-3
            label(for="confirmPassword") Confirm Password
            input.form-control(type="password" name="confirmPassword" id="confirmPassword" required placeholder="Confirm your password")
          
          button.btn.btn-primary(type="submit") Sign Up
