extends layout

block content
  h1.text-center= title

  .container.mt-4
    .row
      .col-md-6.offset-md-3
        h3.text-center Sign Up as an Admin
        form(action="/attaqwa_foundation/signup/admin" method="POST")
          .mb-3
            label(for="username") Username
            input.form-control(type="text" name="username" required)
          .mb-3
            label(for="password") Password
            input.form-control(type="password" name="password" required)
          button.btn.btn-danger(type="submit") Sign Up
